:root {
	--base-bright: #ffffff;
	--base-dark: #191818;
	--border-width: 3px;
	--content-width: 850px;
}

.bold-font {
	font-weight: bold;
}

body {
	font-family: "Avenir", "Montserrat", sans-serif;
	background-color: var(--base-bright);
	font-weight: 500;
	margin: 0;
}

h2 {
	margin-block: 1.25em;
}

.topbar {
	position: fixed;
	top: 0;
	z-index: 2;
	width: 100%;
	border-bottom: 1px solid var(--base-dark);
	padding: 1em 0;
	background-color: var(--base-bright);
	color: var(--base-dark);
}

.topbar-content {
	max-width: var(--content-width);
	margin: auto;
}

.topbar + main {
	padding-top: 3.5em;	
}

main {
	background-color: var(--base-dark);
	color: var(--base-bright);
}

.main-container {
	max-width: var(--content-width);
	margin: auto;
	padding: 2.5em 0;
}

.hero {
	max-width: 45%;
}

.logo-frame {
	border: var(--border-width) solid var(--base-bright);
	display: inline-flex;
	flex-direction: row;
	font-weight: bold;
}

.logo-frame-main {
	padding: 0.5em 1em;
	font-size: 1.5em;
	flex-direction: row;
	display: flex;
	align-items: center;
}

.logo-frame-main > img {
	padding-right: 1em;
	height: 4em;
}

.logo-frame-side {
	border-left: var(--border-width) solid var(--base-bright);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.logo-frame-side-top {
	flex: 1;
	padding: 0.5em 1em;
	border-bottom: var(--border-width) solid var(--base-bright);
	display: flex;
	align-items: center;
}

.logo-frame-side-bottom {
	flex: 1;
	padding: 0.5em 1em;
	display: flex;
	align-items: center;
}

.hero-header {
	margin-block: 1.5em 0.5em;
}

.hero-header > h1 {
	font-size: 2em;
	display: inline;
}

.hero-header > img {
	height: 2em;
	vertical-align: sub;
}

.horizontal-scroll-container {
	position: relative;
}

.scroll-arrow {
	display: inline-block;
	z-index: 1;
	width: 2em;
	height: 2em;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	transition: opacity 0.3s ease;
}

.scroll-arrow:after {
	content: '';
	display: inline-block;
	margin-top: 0.525em;
	width: 0.7em;
	height: 0.7em;
	border-top: 0.25em solid var(--base-dark);
	border-right: 0.25em solid var(--base-dark);
}

.scroll-arrow-left {
	position: absolute;
	top: calc(50% - 1em);
	left: -1em;
	opacity: 0;
}

.scroll-arrow-left:after {
	margin-left: 0.65em;
	-moz-transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
	transform: rotate(-135deg);
}

.scroll-arrow-right {
	position: absolute;
	top: calc(50% - 1em);
	right: -1em;
	opacity: 0;
}

.scroll-arrow-right:after {
	margin-left: 0.35em;
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.grid-container {
	overflow: auto;
}

.info-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: var(--border-width);
	padding: 3px;
	max-width: var(--content-width);
	margin: auto;
	background-color: var(--base-bright);
	min-width: 800px;
}

.info-grid > div {
	aspect-ratio: 1;
	background-color: var(--base-dark);
}

.grid-card {
	display: flex;
	position: relative;
	overflow: hidden;
}

.grid-img-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	transition: 0.5s ease-in-out;
}

.grid-img-overlay > img {
	width: 100%;
	height: 100%;
}

.grid-card:hover .grid-img-overlay {
	left: 100%;
	transition: 0.5s ease-in-out;
}

.grid-underlay {
	font-size: 0.8em;
	padding: 25px;
	background-color: var(--base-bright);
	color: var(--base-dark);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.grid-underlay > a {
	color: var(--base-dark);
}

.media-bar {
	gap: 1em;
	display: grid;
	grid-auto-rows: 1fr;
	grid-template-columns: repeat(4, 1fr);
}

.media-tile {
	border-left: var(--border-width) solid var(--base-bright);
	padding-left: 1em;
	padding-block: 0.25em;
	flex-grow: 1;
	flex-basis: 0;
}

.media-tile > a {
	font-family: 'Roboto Mono', monospace;
	font-weight: bold;
	color: var(--base-bright);
	text-decoration: none;
}

.media-tile > a:hover {
	text-decoration: underline;
}

footer {
	color: var(--base-dark);
	background-color: var(--base-bright);
	padding: 1.5em;
	text-align: center;
}

.footer-strong {
	font-weight: bold;
	font-size: 1.1em;
}

@media (max-width: 767px) {

.topbar {
	padding-inline: 25px;
}

.main-container {
	padding-inline: 25px;
}

.logo-frame-main {
	font-size: 1em;
}

.logo-frame-side {
	font-size: 0.7em;
}

.hero {
	max-width: 95%;
}

.media-bar {
	grid-template-columns: repeat(2, 1fr);
}

.media-tile {
	font-size: 1em;
}

.grid-underlay {
	padding: 20px;
}

}
